
<div class="form">
<h1>Log In</h1>
<%= form_tag sessions_path do %>
  <div class="form-group">
  <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username], class: "form-control", placeholder: "username" %>
  </div>
    <div><%= submit_tag "Log In", class: "btn btn-dark btn-lg" %></div>
<% end %>
</div>
