<div class="event">
  <ul>
    <h3><%= event.title %></h3>
    <li>When: <%= event.when %> </li>
    <li>Where: <%= event.where %> </li>
    <li>What's Going Down?!:<p> <%= event.description %></p> </li>
    <a href="#">Attending?</a>
  </ul>
</div>