<h2> All Events </h2>
<ul>
  <%= render @events %>
</ul>

<% if !@previous_events.nil? %>
<h2> PAst Events </h2>
<ul>
  <%= render @previous_events %>
</ul>
<%end%>
<h2> Upcoming Events </h2>
<ul>
  <%= render @upcoming_events %>
</ul>


