@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eee;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3%;

  h1 a {
    float: left;
    font-weight: bolder;
    color: black;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  li a {
    color: black;
    font-size: 1.3em;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.form {
  background-color: white;
  width: 50vw;
  padding: 2% 10% 2% 10%;
  border: 1px #ccc solid;
}

main {
  margin: 0 20% 0 20%;
}

.card {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  margin: 1%;
  font-size: 4em;
  width: 60%;

  .card-header {
    text-align: center;
    border-bottom: 5px solid #ccc;

    h2 a {
      color: black;
      font-size: 1em;
      font-weight: bold;
    }
  }

  .card-body {
    display: flex;
    flex-direction: row;

    .left-card {
      font-size: 1em;
      text-align: center;
      width: 70%;

      h5 {
        font-size: 1.5vh;
      }
    }

    .right-card {
      text-align: center;
      width: 30%;
    }
  }
}